@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url('../src//bg.jpg');
}


.bg-primary{
background: rgba(18, 249, 53, 0.67);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.2px);
-webkit-backdrop-filter: blur(10.2px);
border: 1px solid rgba(18, 249, 53, 0.3);
}